.wbt-intro-card.mdl-card {
    width: 100%;
}

.wbt-card-full-width.mdl-card {
    width: 100%;
}

.wbt-intro-card > .mdl-card__title {
    color: #ccc;
    height: 500px;
    background: url('../images/mascott.png') center no-repeat;
}
.wbt-intro-card > .mdl-card__menu {
    color: #fff;
}

.hidden {
    display: none;
    visibility: hidden;
}

.mdl-stepper--horizontal {
    max-width: 1400px;
}