@charset "utf-8";
/* CSS Document */
ul, li	{ list-style-type:none; padding:0px; margin:0px; }
.clear { clear:both; }
* {border:none;}


/*Cursor:Pointer*/
.draggable, .snapTarget	{ cursor:pointer;  }

/*MODULE*/

/*Drag Drop*/
.answers { width:29%; float:left; }
.answers > div { padding:0.5em; margin:0 0 1em 0.1em; min-height:50px; border:1px solid #006;  background-color:#CCC; float:left; width:100%; z-index:2; }

.solutions { width:70%; float:right; }
.solutions ul { width:100%; margin-left:1em;}
.solutions > ul > li { min-height:50px; min-width:35%;  margin:0 0 1em 0.1em;  }
.solutions > ul > li div { min-height:50px; min-width:35%; float:left; padding:0.5em;}	
.solutions > ul > li div:first-child { border:#666 dashed 1px; background-color:#DEF3E6; }
.solutions > ul > li div:last-child { border:#666 solid 1px;  background-color:#CEE3D0; }
.draggable { padding:8px; border:1px solid #006; max-width:280px; z-index:1; background-color:#AAA; min-height:50px; margin-bottom:8px; }



/*footer*/
.footer { margin-top:15px !important; }
/*Queries*/
@media(max-width:768px){
	
	}
	
@media(min-width:768px){
	
	}
@media(min-width:992px){

}
@media(min-width:1200px){

}

/*CONTENT*/
.demo-card-wide.mdl-card {
	width: 100%;
}

.mdl-button-green{
	background-color: #67b168;
	color:white;
}

.mdl-button-green:hover{
	background-color: #3c763d;
}

.mdl-button-blue{
	background-color: #2aabd2;
	color:white;
}

.mdl-button-blue:hover{
	background-color: #285e8e;
}

.mdl-button-wide{
	width:100%;
}

h1{
	color:#67b168;
	text-align: center;
	font-size: 3em;
	margin: 0px 0 15px;
}
/* MAIN-HELP*/
.mascot-broc{
	background: url('../images/mascott.png') center no-repeat;
	background-size:contain;
	height:118px;
	cursor: pointer;
}

.main-help{
	height:150px;
}

.main-help.answer{
	display: none;
}

/*MAIN-HEADER*/
.main-header{
}

/* MAIN-CONTENT */
.main-content{
	color:#5e5e5e;
}

.main-content img{
	max-width: 100%;
	height:auto;
	margin: 15px auto;
	display: block;
}

.main-content table{
	margin: 0 auto;
}

.main-content ul li{
	list-style-type: circle;
	margin-left:20px;
}

.main-content ol li{
	margin-left:-20px;
}

.main-content ol li{
	list-style-type: decimal;
}

.height-50{
	height:50px;
}

.height-100{
	height:100px;
}

.height-150{
	height:150px;
}

.height-300{
	 height:332px;
 }

/*MAIN-CONTENT__QUIZ*/
.quest-cross{
	height:100px;
	background: url('../images/cross.svg') center no-repeat;
	background-size: auto 50%;
	color:red;
}

.quest-cross.active{
	box-shadow: 0px 0px 5px red;
}

.quest-check{
	height:100px;
	background: url('../images/check.svg') center no-repeat;
	background-size: auto 50%;
}

.quest-check.active{
	box-shadow: 0px 0px 5px green;
}

.quest-label{
	height:20%;
	text-align: center;
}

.quest-quest{
	padding:5px;
	text-align: center;
	height:100%;
	vertical-align: middle;
	display: inline-block;
	width: 100%;
}

.quest-quest img{
	width: 100%;
	height:auto;
}

/*MAIN-MENU*/
.mainmenu{
	height:150px;
	width: 100%;
	position: relative;
	border-bottom:1px solid ;
}
.mainmenu:last-child{
	border:none;
}
.mainmenu-picture{
	height:100%;
	width:100%;
	float:left;
}

.mainmenu-picture{
	height:100%;
	width:100%;
	float:left;
}

.mainmenu-picture.sport{
	background: url('../images/sport_logo.png') center no-repeat;
	background-size: 100% auto;
}

.mainmenu-picture.eat{
	background: url('../images/eat_logo.png') center no-repeat;
	background-size: 100% auto;

}

.mainmenu-quater{
	float:left;
	width:100%;
	text-align: center;
}

.mainmenu-quater button{
	margin:5px 10%;
	width:80%;
}

.mainmenu-quater .mdl-progress{
	height:30px;
	margin:15px 10% 0;
	width:80%;
}

.mainmenu-text{
	height:30px;
	margin:15px 10% 0;
	width:80%;
	text-align: left;
}

.evaluation-headline{
	border-bottom:1px solid darkgrey;
	width: 100%;
	float:left;
	height:30px;
	margin-top:15px;
	font-weight: 800;
}

.evaluation-item{
	width: 100%;
	float:left;
	height:30px;
	margin-top:10px;
	border-bottom: 1px solid lightgrey;
}

.evaluation-item:last-child{
	border:none;
}

.evaluation-line{
	border-top:1px solid grey;
}

.header-user{
	height:100%;
	width:250px;
}

#progressbar_user{
	height:30px;
	margin-top:15px;
	width: 195px;
	float:left;
}

.mdl-step__actions{
	border-top:1px solid #67b168;
}

.mdl-button--stepper--back{
	margin-left: 8px!important;
	margin-right: auto;
	color: #2196F3!important;
	background-color: transparent!important;
}

.mdl-step__content {
	overflow: hidden;
}

/*.mdl-stepper--horizontal .mdl-step>.mdl-step__actions [data-stepper-next] {*/
	/*float: right;*/
/*}*/
body{
	background-color:rgba(240,240,240,1);
}
.mdl-card__title h1{
	color:black;
}

#lightbox__background{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	z-index:3;
	height:100%;
	background-color: rgba(20,20,20,0.5);
	display:none;
}

#lightbox__center{
	position: fixed;
	margin: 0 auto;
	width:80%;
	z-index:4;
	height:80%;
	left:9%;
	top:9%;
	padding: 1%;
	background-color: white;
	display:none;
}

#lightbox__center--content{
	width:100%;
	height:100%;
}

.close-overlay{
	cursor: pointer;
	float:right;
	width:30px;
	height:30px;
}

.menu-item{
	cursor: pointer;
}

.menu-item img:hover {
	 -webkit-filter: drop-shadow(0px 0px 8px #67b168);
}

.menu-item:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-item__title{
	width: 100%;
	text-align: center;
	font-size:2em;
	color:#67b168;
}

.menu-item__title--border-bottom{
	padding-bottom: 15px;
	border-bottom: 1px solid lightgray;
}

h1{
	display:none;
}

.shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textbox--red{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 96%;
	height:auto;
	padding:2%;
	margin-top:25px;
	margin-bottom:25px;
	border: 1px solid lightcoral;
}

.textbox{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 96%;
	height:auto;
	padding:2%;
	margin-top:25px;
	margin-bottom:25px;
}

.textbox--small{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding:5px;

}

img.right{
	float:right;
	width: 30%;
	margin-left:50px;
	min-width: 200px;
	margin-bottom:50px;
}

img.big{
	min-width: 100%;
}

@media(max-width:768px){
	img.right{
		width: 100%;
	}

}

.clickable{
	cursor: pointer;
}

img:hover{

}

.mdl-navigation__link.active{
	background-color: white;
	color:black;
}

img.test{
	width: 100%;
	height:auto;
}

img.disabled {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(#greyscale);
	filter: gray;
}

.header{
	display: flex;
}

.header__text{
	width: 100%;
}

.header__icon{
	height:100px;
}

.header__icon img{
	height: 100%;
	width:auto;
}

.text-invisible{
	display:none;
}

#lightbox__center{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.circle{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border: 1px solid darkgrey;
	overflow: hidden;
}
.quader{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
}

.quader img{
	margin: 0 auto;
}

.circle img{
	margin:0;
}

.circle__text{
	width: 100%;
	text-align: center;
	font-size: 1em;
	color: #67b168;
	margin-top:10px;
}

.circle__text--black{
	color:black;
}